<!DOCTYPE html>
<html>
    <head>
        <title>Applicants and Mentors</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="applicants_mentors">
        <a href="/"><img src="/static/logo.png" height="72" width="79" id="logo"></a>
        <h1>Applicants and Mentors</h1>
        <table border="1" align="center" id="applicants_mentors">
            <tr>
                <th>Applicant Name</th>
                <th>Application Code</th>
                <th>Mentor First Name</th>
                <th>Mentor Last Name</th>
            </tr>
            {% for row in applicants %}
            <tr>
                <td>{{ row['applicant_f_n'] }}</td>
                <td>{{ row['application_code'] }}</td>
                <td>{{ row['first_name'] }}</td>
                <td>{{ row['last_name'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </body>
</html>
