<!DOCTYPE html>
<html>
    <head>
        <title>Application Process</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="main">
        <a href="/"><img src="/static/logo.png" height="72" width="79" id="logo"></a>
        <table id="index" align="center">
            <tr><td><a href="/mentors">Mentors and Schools</a></td></tr>
            <tr><td><a href="/all-school">All Schools</a></td></tr>
            <tr><td><a href="/mentors-by-country">Mentors by Country</a></td></tr>
            <tr><td><a href="/contacts">Contacts</a></td></tr>
            <tr><td><a href="/applicants">Applicants</a></td></tr>
            <tr><td><a href="/applicants-and-mentors">Applicants and Mentors</a></td></tr>
        </table>
        </div>
    </body>
</html>
